In [2]:
import pandas as pd
import numpy as np
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics import accuracy_score,confusion_matrix,classification_report

In [3]:
df=pd.read_csv('News_dataset.csv')
df.head()

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \r\nAn Iranian woman has been sentenced ...,1

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20800 entries, 0 to 20799
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      20800 non-null  int64
 1   title   20242 non-null  object
 2   author  18843 non-null  object
 3   text    20761 non-null  object
 4   label   20800 non-null  int64
dtypes: int64(2), object(3)
memory usage: 812.6+ KB

In [5]:
df.label.value_counts()

1    10413
0    10387
Name: label, dtype: int64

In [6]:
df.isna().sum()

id           0
title      558
author    1957
text        39
label        0
dtype: int64

In [7]:
df=df.dropna()

In [8]:
df.isna().sum()

id        0
title     0
author    0
text      0
label     0
dtype: int64

In [9]:
df.reset_index(inplace=True)

In [10]:
df.head()

,index,id,title,author,text,label
0,0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \r\nAn Iranian woman has been sentenced ...,1

In [11]:
df=df.drop(['id','text','author'],axis=1)

In [12]:
    lm=WordNetLemmatizer()
    stopwords=stopwords.words('english')
    corpus=[]
    for i in range(len(df)):
        review=re.sub('^a-zA-Z0-9',' ',df['title'][i])
        review=review.lower()
        review=review.split()
        review=[lm.lemmatize(x) for x in review if x not in stopwords]
        review="".join(review)
        corpus.append(review)

In [13]:
len(corpus)

18285

In [14]:
tf=TfidfVectorizer()
x=tf.fit_transform(corpus).toarray()
x

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [15]:
y=df.label
y.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=10,stratify=y)#equal 0 and 1 in train test

In [ ]:
rf=RandomForestClassifier()
rf.fit(x_train,y_train)

In [ ]:
y_pred=rf.predict(x_test)
accuracy_score_=accuracy_score(y_test,y_pred)
accuracy_score_

In [ ]:
class Evaluation:
    def __init__(self,model,x_train,x_test,y_train,y_test):
        self.model=model
        self.x_train=x_train
        self.x_test=x_test
        self.y_train=y_train
        self.y_test=y_test
        
    def train_evaluation(self):
        y_pred_train=self.model.predict(self.x_train)
        
        acc_scr_train=accuracy_score(self.y_train,y_pred_train)
        print('Accuracy Score on training data',acc_scr_train)
        print()
        
        con_mat_train=confusion_matrix(self.y_train,y_pred_train)
        print('Confusion Matrix on training data:\n',con_mat_train)
        print()
        
        class_rep_train=confusion_matrix(self.y_train,y_pred_train)
        print('Classification Report on training data:\n',class_rep_train)
        print()
        
    def test_evaluation(self):
        y_pred_test=self.model.predict(self.x_test)
        
        acc_scr_test=accuracy_score(self.y_test,y_pred_test)
        print('Accuracy Score on test data',acc_scr_test)
        print()
        
        con_mat_test=confusion_matrix(self.y_test,y_pred_test)
        print('Confusion Matrix on test data:\n',con_mat_test)
        print()
        
        class_rep_test=confusion_matrix(self.y_test,y_pred_test)
        print('Classification Report on test data:\n',class_rep_test)
        print()

In [ ]:
Evaluation(rf,x_train,x_test,y_train,y_test).train_evaluation()

In [ ]:
Evaluation(rf,x_train,x_test,y_train,y_test).test_evaluation()

In [ ]:
class Preprocessing:
    
    def __init__(self,data):
        self.data=data
        
    def text_preprocessing(self):
        lm=WordNetLemmatizer()
        pred_data=[self.data]
        preprocessed_data=[]
        for data in pred_data:
            review=re.sub('^a-zA-Z0-9',' ',data)
            review=review.lower()
            review=review.split()
            review=[lm.lemmatize(x) for x in review if x not in stopwords]
            review="".join(review)
            preprocessed_data.append(review)
        return preprocessed_data

In [ ]:
class Prediction:
    
    def __init__(self,prediction_data,model):
        self.prediction_data=prediction_data
        self.model=model
        
    def prediction_model(self):
        preprocess_data=Preprocessing(self.prediction_data).text_preprocessing()
        data=tf.transform(preprocess_data)
        prediction=self.model.predict(data)
        
        if prediction[0]==0:
            return "The News is fake"
        else:
            return "The News is real"

In [ ]:
data = 'FLYNN: Hillary Clinton, Big Woman on Campus - Breitbart'
Prediction(data,rf).prediction_model()

In [ ]:
data = '15 Civilians Killed In Single US Airstrike Have Been Identified' 
Prediction(data,rf).prediction_model()